* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: black;
}

.ball {
  width: 150px;
  height: 150px;
  background-color: green;
  border-radius: 50%;

  animation: move 4s infinite;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translate(400px);
  }
}
