@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: clip;
}

ul {
  list-style: none;
}

.tabs {
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tabs li {
  background-color: #212327;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4cfde;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.tabs li:hover {
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #f9004d;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.active {
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #f9004d !important;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.contents {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.box {
  gap: 20px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  width: 100%;
  animation: moving 1s ease;
  -webkit-animation: moving 1s ease;
}

.box img {
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box h3 {
  color: #c4cfde;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.box p {
  color: #c4cfde;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@keyframes moving {
  from {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 1;
  }
}
